USE [master]
GO
/****** Object:  Database [PorSaludBD]    Script Date: 21/9/2025 16:40:51 ******/
CREATE DATABASE [PorSaludBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PorSaludBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PorSaludBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PorSaludBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PorSaludBD_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PorSaludBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PorSaludBD]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/9/2025 16:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Identidad] [varchar](20) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [varchar](15) NULL,
	[Celular] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
	[Sexo] [char](1) NULL,
	[Estado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 21/9/2025 16:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[DocumentoId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[RutaArchivo] [nvarchar](500) NOT NULL,
	[TipoArchivo] [varchar](10) NULL,
	[FechaCarga] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteId], [Identidad], [NombreCompleto], [Direccion], [Telefono], [Celular], [Correo], [Sexo], [Estado], [FechaCreacion]) VALUES (1, N'0202-1961-111', N'Rosa Lucía Morales Jarquin', N'Colonia 2, San Pedro Sula', N'27680255', N'90530199', N'rosa.morales13@gmail.com', N'F', 1, CAST(N'2025-03-24T19:42:00.817' AS DateTime))
INSERT [dbo].[Clientes] ([ClienteId], [Identidad], [NombreCompleto], [Direccion], [Telefono], [Celular], [Correo], [Sexo], [Estado], [FechaCreacion]) VALUES (2, N'0303-1962-000', N'Mauricio Felipe Rivas Suarez', N'Colonia 3, La Ceiba', N'27872917', N'35940231', N'mauricio.rivas55@gmail.com', N'M', 1, CAST(N'2025-02-24T19:42:00.827' AS DateTime))
INSERT [dbo].[Clientes] ([ClienteId], [Identidad], [NombreCompleto], [Direccion], [Telefono], [Celular], [Correo], [Sexo], [Estado], [FechaCreacion]) VALUES (3, N'0404-1963-000', N'Verónica Beatriz Castro Sánchez', N'Colonia 4, Choluteca', N'24779716', N'94734855', N'verónica.castro37@gmail.com', N'F', 1, CAST(N'2025-08-08T19:42:00.827' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Documentos] ON 

INSERT [dbo].[Documentos] ([DocumentoId], [ClienteId], [NombreArchivo], [RutaArchivo], [TipoArchivo], [FechaCarga], [Activo]) VALUES (11, 1, N'Prueba para aspirantes a Desarrolladores 2025.pdf', N'/Documents/1562224a-52a6-4c87-b0fc-84c13f72f874.pdf', N'.pdf', CAST(N'2025-09-21T16:12:23.510' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Documentos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__5C06DCB42F8E2815]    Script Date: 21/9/2025 16:40:52 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT ('pdf') FOR [TipoArchivo]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Documentos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD CHECK  (([Sexo]='O' OR [Sexo]='F' OR [Sexo]='M'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GestionCliente]    Script Date: 21/9/2025 16:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		AllanNuñez
-- Create date: 20092025
-- Description:	Procedimiento que gestiona las acciones de cada que cliente create, update,delete
CREATE PROCEDURE [dbo].[sp_GestionCliente]
    @TipoOperacion VARCHAR(10),  -- create, update, delete
    @ClienteId INT = NULL,
    @Identidad VARCHAR(20) = NULL,
    @NombreCompleto NVARCHAR(100) = NULL,
    @Direccion NVARCHAR(200) = NULL,
    @Telefono VARCHAR(20) = NULL,
    @Celular VARCHAR(20) = NULL,
    @Correo VARCHAR(100) = NULL,
    @Sexo CHAR(1) = NULL,
    @Estado BIT = NULL,
    @NuevoClienteId INT OUTPUT,
    @MensajeError NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- VALIDAR TIPO DE OPERACIÓN
        IF @TipoOperacion NOT IN ('CREATE', 'UPDATE', 'DELETE')
        BEGIN
            SET @MensajeError = 'Tipo de operación no válido. Use: CREATE, UPDATE o DELETE';
            RETURN -1;
        END

---OPERACIÓN CREACION CLIENTE
        IF @TipoOperacion = 'CREATE'
        BEGIN
            -- Validar indentidad del cliente
            IF @Identidad IS NULL OR LTRIM(RTRIM(@Identidad)) = ''
            BEGIN
                SET @MensajeError = 'La identidad es requerida';
                RETURN -1;
            END

            -- Validar nombre completo del cliente
            IF @NombreCompleto IS NULL OR LTRIM(RTRIM(@NombreCompleto)) = ''
            BEGIN
                SET @MensajeError = 'El nombre completo es requerido';
                RETURN -1;
            END
            -- Validar sexo del cliente
            IF @Sexo NOT IN ('M', 'F', 'O') OR @Sexo IS NULL
            BEGIN
                SET @MensajeError = 'El sexo debe ser M (Masculino , F (Femenino) u O (Otro)';
                RETURN -1;
            END

            -- Verificar si la identidad ya existe
            IF EXISTS (SELECT 1 FROM Clientes WHERE Identidad = @Identidad)
            BEGIN
                SET @MensajeError = 'La identidad ya existe en el sistema';
                RETURN -1;
            END

            -- Insertar nuevo cliente
            INSERT INTO Clientes (
                Identidad, NombreCompleto, Direccion, Telefono, 
                Celular, Correo, Sexo, Estado
            ) VALUES (
                @Identidad, @NombreCompleto, @Direccion, @Telefono,
                @Celular, @Correo, @Sexo, ISNULL(@Estado, 1)
            );

            SET @NuevoClienteId = SCOPE_IDENTITY();
        END

-- OPERACION ACTUALIZAR CLIENTE
        ELSE IF @TipoOperacion = 'UPDATE'
        BEGIN
            -- Validaciones para actualización
            IF @ClienteId IS NULL OR @ClienteId <= 0
            BEGIN
                SET @MensajeError = 'ID de cliente requerido para actualizar';
                RETURN -1;
            END

            IF NOT EXISTS (SELECT 1 FROM Clientes WHERE ClienteId = @ClienteId)
            BEGIN
                SET @MensajeError = 'Cliente no encontrado';
                RETURN -1;
            END

            IF @Identidad IS NULL OR LTRIM(RTRIM(@Identidad)) = ''
            BEGIN
                SET @MensajeError = 'La identidad es requerida';
                RETURN -1;
            END

            IF @NombreCompleto IS NULL OR LTRIM(RTRIM(@NombreCompleto)) = ''
            BEGIN
                SET @MensajeError = 'El nombre completo es requerido';
                RETURN -1;
            END

            IF @Sexo NOT IN ('M', 'F', 'O') OR @Sexo IS NULL
            BEGIN
                SET @MensajeError = 'El sexo debe ser M (Masculino , F (Femenino) u O (Otro)';
                RETURN -1;
            END

            -- Verificar si la identidad ya existe en otro cliente
            IF EXISTS (SELECT 1 FROM Clientes WHERE Identidad = @Identidad AND ClienteId <> @ClienteId)
            BEGIN
                SET @MensajeError = 'La identidad ya existe en otro cliente';
                RETURN -1;
            END

            -- Actualizar cliente
            UPDATE Clientes SET
                Identidad = @Identidad,
                NombreCompleto = @NombreCompleto,
                Direccion = @Direccion,
                Telefono = @Telefono,
                Celular = @Celular,
                Correo = @Correo,
                Sexo = @Sexo,
                Estado = ISNULL(@Estado, Estado)
            WHERE ClienteId = @ClienteId;

            SET @NuevoClienteId = @ClienteId;
        END

 -- OPERACION ELIMINAR CLIENTE ----------------------------------------------------------------- 
        ELSE IF @TipoOperacion = 'DELETE'
        BEGIN
            -- Validaciones para eliminación
            IF @ClienteId IS NULL OR @ClienteId <= 0
            BEGIN
                SET @MensajeError = 'ID de cliente requerido para eliminar';
                RETURN -1;
            END

            IF NOT EXISTS (SELECT 1 FROM Clientes WHERE ClienteId = @ClienteId)
            BEGIN
                SET @MensajeError = 'Cliente no encontrado';
                RETURN -1;
            END

            -- Verificar si tiene documentos activos
            IF EXISTS (SELECT 1 FROM Documentos WHERE ClienteId = @ClienteId AND Activo = 1)
            BEGIN
                SET @MensajeError = 'No se puede eliminar el cliente porque tiene documentos activos asociados';
                RETURN -1;
            END

            -- Hacer un Soft Delete(marcarlo como inactivo)
            UPDATE Clientes SET Estado = 0 WHERE ClienteId = @ClienteId;
            SET @NuevoClienteId = @ClienteId;
        END

        SET @MensajeError = NULL;
        RETURN 1;

    END TRY
    BEGIN CATCH
        SET @MensajeError = ERROR_MESSAGE();
        SET @NuevoClienteId = -1;
        RETURN -1;
    END CATCH
END
GO
USE [master]
GO
